# Dependencies
node_modules
/.pnp
.pnp.js
docker-publish.sh
# Testing
/coverage
__pycache__/
*.py[cod]
.pytest-tmp/

docker-test.sh 

# Production
/frontend/build

./comconnect-2b1d7-firebase-adminsdk-20r1n-c127902f6f.json
/comconnect-2b1d7-firebase-adminsdk-20r1n-c127902f6f.json

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Firebase
*firebase-adminsdk*.json
